* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #312e38;
  color: #fff;
  overflow: hidden;
}

body div#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75vh;
  background: #312e38;
  margin: 24px;
}

body div#container .p5Canvas {
  align-self: center;
  border-radius: 7px;
}
